.header{
    background-color: rgb(227, 231, 233);
    border-radius: 5px;
    
}
.two{
    background-color: rgb(157, 185, 185);
    height: 50px;

}
.one{
    height: 50px;
}
.color{
    color: pink;

}

